
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDipIfsicLabel" data-translate="projectTaaGliApp.dipIfsic.home.createOrEditLabel">Create or edit a Dip Ifsic</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dipIfsic.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dipIfsic.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.dipIfsic.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                    ng-model="vm.dipIfsic.libelle"
                     />
        </div>

        <div class="form-group">
            <label data-translate="projectTaaGliApp.dipIfsic.enseignant" for="field_enseignant">Enseignant</label>
            <select class="form-control" id="field_enseignant" multiple name="enseignant" ng-model="vm.dipIfsic.enseignants" ng-options="enseignant as enseignant.nom for enseignant in vm.enseignants track by enseignant.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.dipIfsic.filiere" for="field_filiere">Filiere</label>
            <select class="form-control" id="field_filiere" name="filiere" ng-model="vm.dipIfsic.filiere" ng-options="filiere as filiere.libelle for filiere in vm.filieres track by filiere.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
