
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">


        </div>
    </div>
    <br/>
    <div class="table-responsive">
   <fieldset style="  background-color: #eee;border:solid 1px black; ">
       <legend style="background-color:#A4A4A4;color:white;font-size:15px;">Avant de commencer</legend>
    <p>

    Avant de renseigner la convention de stage, il faut vous munir des informations suivantes :<br>


    +Vous concernant :<br>
        Votre qualité d'assuré social (étudiant, ayant droit ...) <br>
        Votre caisse d'assurance maladie<br><hr style="height:20px;border-color:black">
        Votre fonction en stage

    +Concernant l'organisme ou vous effectuez votre stage :<br>
        Ses Coordonnées<br>
        Pour tout stage:<br>
            Son numéro de Siret (numéro d'identité de l'entreprise à 14 chiffres)<br>
            Vous pouvez trouver ces informations soit en téléphonant à l'entreprise, soit sur internet via un site de référencement d'entreprises.<br><hr style="height:20px;border-color:black">

    +Concernant les contacts de l'entreprise :<br>
        leurs noms<br>
        Un moyen de les joindre (tél, courriel,etc...)<br><hr style="height:20px;border-color:black">

    +Concernant le stage :<br>
        Les dates précises:<br>
        L'année du stage<br>
        Date Début <br>
        Date Fin



    <p/>
  </fieldset>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="CreateNewConvention" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate=" Create new Convention">
                        Create new Convention
                    </span>
                </button>
            </div>
        </div>
    </div>


    </div>
