<head>
    <meta charset="utf-8" />

    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <link href="css/menu.css" rel="stylesheet" type="text/css" />
</head>
  <div class="modal-body">
    <ul id="nav">
        <li><a href="#" style="pointer-events: none;cursor: default">Etudiant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Stage</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default">Etab.d'accueil</a></li>
        <li><a ui-sref="AffichageContacts" >Contact.Etab</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default">Enseignant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Recapitulatif</a></li>
    </ul><br>
  <!--  <ul id="nav">
        <li><a ui-sref="ChoixEntreprise">Raison sociale</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">adresse</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">NSiren</a></li>

    </ul>-->

    <script src="scripts/script.js"></script>
      <jhi-alert-error></jhi-alert-error>
      <p><b>*créer un contact Si aucun résultat ne correspond à votre recherche/ajouter un autre contact à la selection:</b></p><a ui-sref="createNewContact" ><img src="images/plus.png"  height="20" width="20"/></a><hr>
      <label>Raison Sociale:</label>
      <input type="text"  ng-model="search.nom"/>
      <div class="table-responsive">
          <table class="jh-table table table-striped">
              <thead>
                  <tr>


                      <th><span data-translate="projectTaaGliApp.contact.nom">Nom</span></th>
                      <th><span data-translate="Partenaire">Partenaire</span></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="contact in vm.contacts track by contact.id">

                      <td>{{contact.nom}}</td>

                      <td>
                          <span ng-repeat="partenaire in contact.partenaires | filter:search">
                            {{partenaire.nom}}{{$last ? '' : ', '}}
                          </span>
                      </td>
                      <td>
                        <p><a ui-sref="ContactDetail({id:contact.id})"><img src="images/select.png"  height="28" width="50" /></a></p>
                      </td>


                  </tr>
              </tbody>
          </table>

          <button ui-sref="ChoixPartenaire" class="btn btn-info">
              <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
          </button>
        <button ui-sref="choixEnseignant" class="btn btn-primary">

            <span class="hidden-xs hidden-sm"></span>&nbsp;<span data-translate="Suivant">Suivant</span>
        </button>

      </div>
    </div>
