<head>
    <meta charset="utf-8" />

    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <link href="css/menu.css" rel="stylesheet" type="text/css" />
</head>
  <div class="modal-body">
    <ul id="nav">
        <li><a href="#" style="pointer-events: none;cursor: default">Etudiant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Stage</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default">Etab.d'accueil</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default" >Contact.Etab</a></li>
        <li><a ui-sref="choixEnseignant">Enseignant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Recapitulatif</a></li>
    </ul><br>


    <script src="scripts/script.js"></script>
      <jhi-alert-error></jhi-alert-error>
      <form name="enseignantForm">
      <fieldset style="  background-color: #eee;border:solid 1px black; ">
        <legend style="background-color:#A4A4A4;color:white;font-size:15px;">Affectation de l'enseignant</legend>
    <p>Rechercher votre Enseignant Encadrant par :<br>
      <label>Nom</label><br>
      <input type="text"  ng-model="search.nom"/><br>
      <label>Prénom</label><br>
      <input type="text"  ng-model="search.prenom"/><br>
      <p>choisir votre enseignant</p>
      <select ng-model="vm.var" style="width:185px;" ng-options="enseignant as enseignant.nom for enseignant  in vm.enseignants | filter:search track by enseignant.id" required /><br>
    </fieldset>



    <button ui-sref="AffichageContacts" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="Back"> Back</span>
    </button>
        <button ui-sref="Recapitulatif" ng-disabled="enseignantForm.$invalid" class="btn btn-primary" ng-click="vm.save()" type="submit">


            <span class="hidden-xs hidden-sm"></span>&nbsp;<span data-translate="Suivant">Suivant</span>
        </button>
      </form>

    </div>
