<head>
    <meta charset="utf-8" />

    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <link href="css/menu.css" rel="stylesheet" type="text/css" />
</head>
  <div class="modal-body">
    <ul id="nav">
        <li><a href="#" style="pointer-events: none;cursor: default">Etudiant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Stage</a></li>
        <li><a ui-sref="ChoixPartenaire">Etab.d'accueil</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default" >Contact.Etab</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default">Enseignant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Recapitulatif</a></li>
    </ul><br>
  <!--  <ul id="nav">
        <li><a ui-sref="ChoixEntreprise">Raison sociale</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">adresse</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">NSiren</a></li>

    </ul>-->

    <script src="scripts/script.js"></script>
      <jhi-alert-error></jhi-alert-error>

      <p><b>*créer un nouveau partenaire Si aucun résultat ne correspond à votre recherche</b></p><a ui-sref="partenaire-newcreate"><img src="images/plus.png"  height="20" width="20"/></a><hr>
      <p>Recherche par :	</p>
      <label>Raison Sociale:</label>
      <input type="text"  ng-model="search.nom"/>
      <label>Num de Siret:</label>
      <input type="number" ng-model="search.siret"/>
      <label>Adresse:</label>
      <input type="text"  ng-model="search.adresse"/>

          <table class="jh-table table table-striped">
              <thead>
                  <tr>
                     <th><span data-translate="Numero Siret">Numero Siret</span></th>
                      <th><span data-translate="nom">Nom</span></th>
                      <th><span data-translate="adresse">Adresse</span></th>

                      <th></th>
                  </tr>
              </thead>
              <tbody>

                  <tr ng-repeat="partenaire in vm.partenaires | filter:search track by partenaire.id" >
                      <td>{{partenaire.siret}}</td>
                      <td>{{partenaire.nom}}</td>
                      <td>{{partenaire.adresse}}</td>
                        <td>
                         <p><b><a ui-sref="Show-detail-entreprise({id:partenaire.id})">Show details</a></b><img src="images/loop.png"  height="17" width="17"/></p>
                       </td>

                        </tr>
              </tbody>
          </table>
          <button ui-sref="CreationStage" class="btn btn-info">
              <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="Back"> Back</span>
          </button>
      </div>
    </div>
