
<div>

    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.contact.nom">Nom</span></dt>
        <dd>
            <span>{{vm.contact.nom}}</span>
        </dd>



        <dt><span data-translate="Numero du téléphone">Numero du téléphone</span></dt>

        <dd>
            <span>{{vm.contact.ntel}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.contact.email">Email</span></dt>
        <dd>
            <span>{{vm.contact.email}}</span>
        </dd>

    

        <dt><span data-translate="Sexe">Sexe</span></dt>

        <dd>
            <span>{{vm.contact.sex}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.contact.partenaire">Partenaire</span></dt>
        <dd>
            <span ng-repeat="partenaire in vm.contact.partenaires">
              {{partenaire.nom}}{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

      <button ui-sref="AffichageContacts" class="btn btn-info">
          <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
      </button>
    <button ui-sref="AffichageContacts" class="btn btn-primary" ng-click="vm.save()">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"></span>&nbsp;<span data-translate="Select">Select</span>
    </button>

</div>
