<head>
    <meta charset="utf-8" />

    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <link href="css/menu.css" rel="stylesheet" type="text/css" />
</head>
  <div class="modal-body">
    <ul id="nav">
        <li><a ui-sref="CreateNewConvention">Etudiant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Stage</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default">Etab.d'accueil</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default" >Contact.Etab</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default">Enseignant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Recapitulatif</a></li>
    </ul><br>
    <script src="scripts/script.js"></script>
      <jhi-alert-error></jhi-alert-error>
      <div class="table-responsive" ng-repeat="etudiant in vm.etudiants track by etudiant.id">
        <h1 style="font-size: 2em;"> Welcome {{etudiant.nom}}&nbsp;{{etudiant.prenom}}</h1>
        <p>verifiez vos informations et sélectionnez les informations concernant votre sécurité sociale:</p>
           <form name="newConventionForm" role="form" novalidate ng-submit="vm.save()">
       <fieldset style="  background-color: #eee;border:solid 1px black; ">
          <legend style="background-color:#A4A4A4;color:white;font-size:15px;">Vos Informations:</legend>
          <div>
        <dl class="dl-horizontal jh-entity-details">
            <div>  <dt><span data-translate="Numéro Sésame:">Numéro Sésame:</span></dt>
            <dd>
              <span>{{etudiant.sesan}}</span>
            </dd> </div>
            <div>  <dt><span data-translate="Nom">Nom</span></dt>
            <dd>
              <span>{{etudiant.nom}}</span>
            </dd>  </div>
            <div>  <dt><span data-translate="Prenom">Prenom</span></dt>
            <dd>
              <span>{{etudiant.prenom}}</span>
            </dd>  </div>
            <div>  <dt><span data-translate="Age">Age</span></dt>
            <dd>
              <span>{{etudiant.age}}</span>
            </dd>  </div>
            <div><dt><span data-translate="Adresse">Adresse</span></dt>
              <dd>
              <span>{{etudiant.adresse}}</span>
            </dd>  </div>
            <div><dt><span data-translate="Numéro du téléphone">Ntel</span></dt>
            <dd>
              <span>{{etudiant.ntel}}</span>
            </dd></div>
            <div><dt><span data-translate="Date de naissance">Datenaissance</span></dt>
            <dd>
              <span>{{etudiant.datenaissance | date:'medium'}}</span>
            </dd></div>
          <div>  <dt><span data-translate="Email">Email</span></dt>
            <dd>
              <span>{{etudiant.email}}</span>
            </dd></div>
          <div>  <dt><span data-translate="Affiliation">Affiliation</span></dt>
            <dd>
              <span>{{etudiant.affiliation}}</span>
            </dd></div>
          <div>  <dt><span data-translate="Assurance">Assurance</span></dt>
            <dd>
              <span>{{etudiant.assurance}}</span>
            </dd></div>
          </dl>
        </div>

        </fieldset>


       <label>Affiliation à la sécurité sociale </label><br>
       <select ng-model="etudiant.affiliation" required>
         <option>En qualité d'ayant droit d'assuré social</option>
         <option>En qualité d'étudiant(e)</option>
         <option>Par une assurance volontaire</option>
         <option>Etudiant étranger</option>
       </select> <br>
    <label>Caisse d'assurance maladie </label><br>
    <select ng-model="etudiant.assurance" required>
      <option>Caisse Primaire d Assurance Maladie (Pour les étudiants, les travailleurs salariés, etc )</option>
      <option>Mutualité Sociale Agricole (Pour les salariés ou exploitants agricoles )</option>
      <option>Régime Social des Indépendants (Pour les artisans, commerçants, industriels et professions libérales )</option>
      <option>Régimes spéciaux (Pour les travailleurs des mines, de la S.N.C.F., de la R.A.T.P., les militaires, les marins )</option>
    </select>
<br>
<br>


    <button ui-sref="AccueilConvention" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="submit" ng-disabled="newConventionForm.$invalid" class="btn btn-primary" ui-sref="verificationStudent" ng-click="vm.save()">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="Save">Save</span>
    </button>


             </form>
             <div class="modal-footer">
         </div>

          </div>
        </div>
