<head>
    <meta charset="utf-8" />

    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <link href="css/menu.css" rel="stylesheet" type="text/css" />
</head>
  <div class="modal-body">
    <ul id="nav">
        <li><a href="#" style="pointer-events: none;cursor: default">Etudiant</a></li>
        <li><a ui-sref="CreationStage">Stage</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default">Etab.d'accueil</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default" >Contact.Etab</a></li>
        <li><a href="#"style="pointer-events: none;cursor: default">Enseignant</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">Recapitulatif</a></li>
    </ul><br>
  <!--  <ul id="nav">
        <li><a ui-sref="ChoixEntreprise">Raison sociale</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">adresse</a></li>
        <li><a href="#" style="pointer-events: none;cursor: default">NSiren</a></li>

    </ul>-->

    <script src="scripts/script.js"></script>
      <jhi-alert-error></jhi-alert-error>
        <form name="newStageForm" role="form" novalidate show-validation>
     <fieldset style="  background-color: #eee;border:solid 1px black; ">
       <legend style="background-color:#A4A4A4;color:white;font-size:15px;">création du stage:</legend>
      <p>Veuillez choisir l'année de votre Stage*</p>
      <div class="input-group">
          <div ng-hide="!vm.datePickerOpenStatus.sannee" class="ng-hide"><input id="field_sannee" type="text" name="sannee" uib-datepicker-popup="{{dateformat}}" datepicker-options="datepickerOptions" ng-model="vm.stage.sannee" is-open="vm.datePickerOpenStatus.sannee" required  /></div>
          <span >
    <form name="editForm" role="form" novalidate show-validation>
              <button type="button" class="btn btn-default" ng-click="vm.openCalendar1('sannee')"><i class="glyphicon glyphicon-calendar"></i></button>
          {{vm.stage.sannee | date:'yyyy'}}</span>
      </div>
      <p>Veuillez choisir la période  de votre Stage*</p>
      <p>Date debut </p>
      <div class="input-group">
          <input id="field_debut" type="text" name="datedebut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stage.periodestage.datedebut" is-open="vm.datePickerOpenStatus.datedebut" required  />
          <span >
              <button type="button" class="btn btn-default" ng-click="vm.openCalendar2('datedebut')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </div>
      <p>Date Fin </p>
      <div class="input-group">
          <input id="field_fin" type="text" name="datefin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stage.periodestage.datefin" is-open="vm.datePickerOpenStatus.datefin" required  />
          <span >
                <div ng-show="editForm.datedebut.$invalid">
                    <p class="help-block" ng-show="editForm.sannee.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
              <button type="button" class="btn btn-default" ng-click="vm.openCalendar3('datefin')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </div>
      <p>Votre Fonction en Stage:</p>
      <div class="input-group">
          <input id="field_fonction" type="text" name="fonction" ng-model="vm.stage.fonction.libelle"  required  />
      </div>
      <p>Sujet du Stage:</p>
      <div class="input-group">
          <input id="field_sujet" type="text" name="sujet" ng-model="vm.stage.sujet"  required  />
      </div>
        <p>Diplôme préparé:</p>
        <div class="input-group">
            <input id="field_diplome" type="text" name="Dip" ng-model="vm.stage.diplomeifsic.libelle"  required  />
        </div>
    </div>

        </select>
  </div>


</fieldset>

    <div>
      <button ui-sref="verificationStudent" class="btn btn-info">
          <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="Back"> Back</span>
      </button>
      <button type="submit" ng-disabled="newStageForm.$invalid"  class="btn btn-primary"  ng-click="vm.save()"  ui-sref="ChoixPartenaire">
          <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="Save">Save</span>
      </button>
    </div>



    </div>
</form>
