
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPartenaireLabel" data-translate="Create a Partenaire">Create a Partenaire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.partenaire.id">
            <label for="id" data-translate="ID">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.partenaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="Nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.partenaire.nom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="Adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                    ng-model="vm.partenaire.adresse"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="Datecreation" for="field_datecreation">Datecreation</label>
                <div class="input-group">
                    <input id="field_datecreation" type="text" class="form-control" name="datecreation" datetime-picker="{{dateformat}}" ng-model="vm.partenaire.datecreation" is-open="vm.datePickerOpenStatus.datecreation"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datecreation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
   <span></span>
        <div class="form-group">
            <label data-translate="Activite" for="field_antivite">Activite</label>
            <select class="form-control" id="field_antivite" multiple name="antivite" ng-model="vm.partenaire.antivites" ng-options="activite as activite.description for activite in vm.activites | unique:'description' track by activite.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="Region" for="field_region">Region</label>
            <select class="form-control" id="field_region" name="region" ng-model="vm.partenaire.region" ng-options="region as region.rlebelle for region in vm.regions track by region.id">
                <option value=""></option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="Cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="Save">Save</span>
        </button>
    </div>
</form>
