
<div>
    <h2><span data-translate="Partenaire">Partenaire</span> {{vm.partenaire.nom}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="Nom">Nom</span></dt>
        <dd>
            <span>{{vm.partenaire.nom}}</span>
        </dd>
        <dt><span data-translate="Adresse">Adresse</span></dt>
        <dd>
            <span>{{vm.partenaire.adresse}}</span>
        </dd>
        <dt><span data-translate="Datecreation">Datecreation</span></dt>
        <dd>
            <span>{{vm.partenaire.datecreation | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="Activite">Activite</span></dt>
        <dd>
            <span ng-repeat="antivite in vm.partenaire.antivites">
                <span>{{antivite.description}}</span>{{$last ? '' : ', '}}
            </span>
        </dd>


        <dt><span data-translate="Region">Region</span></dt>
        <dd>
            <span>{{vm.partenaire.region.rlebelle}}</span>
        </dd>

    </dl>



      <button ui-sref="ChoixPartenaire" class="btn btn-info">
          <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
      </button>

    <button ui-sref="AffichageContacts" class="btn btn-primary" ng-click="vm.save()">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"></span>&nbsp;<span data-translate="Select">Select</span>
    </button>


</div>
