
<html lang="fr" >
    <head>
        <meta charset="utf-8" />

        <link href="css/layout.css" rel="stylesheet" type="text/css" />
        <link href="css/menu.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

      <ul id="nav">
          <li><a href="#" style="pointer-events: none;cursor: default" >Etudiant</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Etab.d'accueil</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Contact.Etab</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Tuteur prof</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Stage</a></li>
          <li><a ui-sref="Recapitulatif">Recapitulatif</a></li>
      </ul><br>
        <script src="scripts/script.js"></script>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">


        </div>
    </div>
    <br/>
    <div class="table-responsive">

      <p><b>Récapitulatif de votre Saisie</b></p>
    <form>
     <fieldset style="  background-color: #eee;border:solid 1px black; ">
     <legend style="background-color:#A4A4A4;color:white;font-size:15px;">Récapitulatif:</legend>
     <dl class="dl-horizontal jh-entity-details">
         <dt><span data-translate="projectTaaGliApp.stage.sujet">Sujet</span></dt>
         <dd>
             <span>{{vm.stage.sujet}}</span>
         </dd>

         <dt><span data-translate="projectTaaGliApp.stage.sannee">Sannee</span></dt>
         <dd>
             <span>{{vm.stage.sannee | date:'mediumDate'}}</span>
         </dd>
         <dt><span data-translate="projectTaaGliApp.stage.diplomeifsic">Diplomeifsic</span></dt>
         <dd>
          {{vm.stage.diplomeifsic.libelle}}
         </dd>
         <dt><span data-translate="projectTaaGliApp.stage.periodestage">Periodestage</span></dt>
         <dd>
            {{vm.stage.periodestage.datedebut}}-{{vm.stage.periodestage.datefin}}
         </dd>
         <dt><span data-translate="projectTaaGliApp.stage.contact">Contact</span></dt>
         <dd>
             <span ng-repeat="contact in vm.stage.contacts">
                 {{contact.nom}}{{$last ? '' : ', '}}
             </span>
         </dd>

         <dt><span data-translate="projectTaaGliApp.stage.partenaire">Partenaire</span></dt>
         <dd>
        {{vm.stage.partenaire.nom}}
         </dd>
         <dt><span data-translate="projectTaaGliApp.stage.enseignant">Enseignant</span></dt>
         <dd>
             {{vm.stage.enseignant.nom}}&nbsp;{{vm.stage.enseignant.prenom}}
         </dd>
         <dt><span data-translate="projectTaaGliApp.stage.fonction">Fonction</span></dt>
         <dd>
            {{vm.stage.fonction.libelle}}
         </dd>
     </dl>


      </fieldset>
      <button ui-sref="choixEnseignant" class="btn btn-info">
          <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="Back"> Back</span>
      </button>

       <button type="submit"  class="btn btn-primary" ui-sref="FinConvention" >
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="Save">Save</span>
        </button>

      </form>

    </div>
  </body>
  </html>
