
<html lang="fr" >
    <head>
        <meta charset="utf-8" />

        <link href="css/layout.css" rel="stylesheet" type="text/css" />
        <link href="css/menu.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

      <ul id="nav">
          <li><a ui-sref="verificationStudent" >Etudiant</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Etab.d'accueil</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Contact.Etab</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Tuteur prof</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Stage</a></li>
          <li><a href="#" style="pointer-events: none;cursor: default">Recapitulatif</a></li>
      </ul><br>
        <script src="scripts/script.js"></script>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">


        </div>
    </div>
    <br/>
    <div class="table-responsive" ng-repeat="etudiant in vm.etudiants track by etudiant.id">

      <p>verifiez vos informations avant de continuer:</p>
    <form>
     <fieldset style="  background-color: #eee;border:solid 1px black; ">
     <legend style="background-color:#A4A4A4;color:white;font-size:15px;">Vos Informations:</legend>
        <dl class="dl-horizontal jh-entity-details">
            <dt><span data-translate="Numéro Sésame:">Numéro Sésame:</span></dt>
            <dd>
                <span>{{etudiant.sesan}}</span>
            </dd>
            <dt><span data-translate="Nom">Nom</span></dt>
            <dd>
                <span>{{etudiant.nom}}</span>
            </dd>
            <dt><span data-translate="Prenom">Prenom</span></dt>
            <dd>
                <span>{{etudiant.prenom}}</span>
            </dd>
            <dt><span data-translate="Age">Age</span></dt>
            <dd>
                <span>{{etudiant.age}}</span>
            </dd>
            <dt><span data-translate="Adresse">Adresse</span></dt>
            <dd>
                <span>{{etudiant.adresse}}</span>
            </dd>
            <dt><span data-translate="Numéro du téléphone">Ntel</span></dt>
            <dd>
                <span>{{etudiant.ntel}}</span>
            </dd>
            <dt><span data-translate="Date de naissance">Datenaissance</span></dt>
            <dd>
                <span>{{etudiant.datenaissance | date:'medium'}}</span>
            </dd>
            <dt><span data-translate="Email">Email</span></dt>
            <dd>
                <span>{{etudiant.email}}</span>
            </dd>
            <dt><span data-translate="Affiliation">Affiliation</span></dt>
            <dd>
                <span>{{etudiant.affiliation}}</span>
            </dd>
            <dt><span data-translate="Assurance">Assurance</span></dt>
            <dd>
                <span>{{etudiant.assurance}}</span>
            </dd>
          </dl>



      </fieldset>
      <button ui-sref="CreateNewConvention" class="btn btn-info">
          <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="Back"> Back</span>
      </button>

       <button type="submit"  class="btn btn-primary" ui-sref="CreationStage" >
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="Save">Save</span>
        </button>

      </form>

    </div>
  </body>
  </html>
