<div>
    <h2 data-translate="projectTaaGliApp.enseignant.home.title">Enseignants</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="enseignant.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.enseignant.home.createLabel">
                        Create new Enseignant
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.generateCSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>

                    <th><span data-translate="projectTaaGliApp.enseignant.nom">Nom</span></th>
                    <th><span data-translate="projectTaaGliApp.enseignant.prenom">Prenom</span></th>
                    <th><span data-translate="projectTaaGliApp.enseignant.adresse">Adresse</span></th>
                    <th><span data-translate="projectTaaGliApp.enseignant.ntel">N.tel</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="enseignant in vm.filteredStage = (vm.enseignants | filter:filtre) track by enseignant.id">
                  
                    <td><a ui-sref="enseignant-detail({id:enseignant.id})">{{enseignant.nom}}</a></td>
                    <td>{{enseignant.prenom}}</td>
                    <td>{{enseignant.adresse}}</td>
                    <td>{{enseignant.ntel}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="enseignant-detail({id:enseignant.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enseignant.edit({id:enseignant.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enseignant.delete({id:enseignant.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
