
<div>
    <h2><span data-translate="projectTaaGliApp.enseignant.detail.title">Enseignant</span> {{vm.enseignant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.enseignant.nom">Nom</span></dt>
        <dd>
            <span>{{vm.enseignant.nom}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.enseignant.prenom">Prenom</span></dt>
        <dd>
            <span>{{vm.enseignant.prenom}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.enseignant.adresse">Adresse</span></dt>
        <dd>
            <span>{{vm.enseignant.adresse}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.enseignant.ntel">N.tel</span></dt>
        <dd>
            <span>{{vm.enseignant.ntel}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="enseignant-detail.edit({id:vm.enseignant.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
