
<div>
    <h2><span data-translate="projectTaaGliApp.stage.detail.title">Stage</span> {{vm.stage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.stage.sujet">Sujet</span></dt>
        <dd>
            <span>{{vm.stage.sujet}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.salaire">Salaire</span></dt>
        <dd>
            <span>{{vm.stage.salaire}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.sannee">Sannee</span></dt>
        <dd>
            <span>{{vm.stage.sannee | date:'yyyy'}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.diplomeifsic">Diplomeifsic</span></dt>
        <dd>
            <a ui-sref="dip-ifsic-detail({id:vm.stage.diplomeifsic.id})">{{vm.stage.diplomeifsic.libelle}}</a>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.periodestage">Periodestage</span></dt>
        <dd>
            <a ui-sref="periode-stage-detail({id:vm.stage.periodestage.id})">{{vm.stage.periodestage.Datedebut}}-{{vm.stage.periodestage.Datedefin}}</a>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.contact">Contact</span></dt>
        <dd>
            <span ng-repeat="contact in vm.stage.contacts">
                <a ui-sref="contact-detail({id: contact.id})">{{contact.nom}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.etudiant">Etudiant</span></dt>
        <dd>
            <a ui-sref="etudiant-detail({id:vm.stage.etudiant.id})">{{vm.stage.etudiant.nom}}</a>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.partenaire">Partenaire</span></dt>
        <dd>
            <a ui-sref="partenaire-detail({id:vm.stage.partenaire.id})">{{vm.stage.partenaire.nom}}</a>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.enseignant">Enseignant</span></dt>
        <dd>
            <a ui-sref="enseignant-detail({id:vm.stage.enseignant.id})">{{vm.stage.enseignant.nom}}</a>
        </dd>
        <dt><span data-translate="projectTaaGliApp.stage.fonction">Fonction</span></dt>
        <dd>
            <a ui-sref="fonction-detail({id:vm.stage.fonction.id})">{{vm.stage.fonction.libelle}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="stage-detail.edit({id:vm.stage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
