<div>
    <h2 data-translate="projectTaaGliApp.stage.home.title">Stages</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stage.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.stage.home.createLabel">
                        Create new Stage
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.CSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>

                    <th><span data-translate="projectTaaGliApp.stage.sujet">Sujet</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.salaire">Salaire</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.sannee">année</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.diplomeifsic">Diplomeifsic</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.periodestage">Periodestage</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.contact">Contact</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.etudiant">Etudiant</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.partenaire">Entreprise partenaire</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.enseignant">Enseignant</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.fonction">Fonction</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stage in vm.filteredStage = (vm.stages | filter:filtre) track by stage.id">
                    <td><a ui-sref="stage-detail({id:stage.id})">{{stage.sujet}}</a></td>
                    <td>{{stage.salaire}}</td>
                        <td>{{stage.sannee  | date:'yyyy'}}</td>
                    <td>
                        <a ui-sref="dip-ifsic-detail({id:stage.diplomeifsic.id})">{{stage.diplomeifsic.libelle}}</a>
                    </td>
                    <td>
                        <a ui-sref="periode-stage-detail({id:stage.periodestage.id})">{{stage.periodestage.datedebut}}-{{stage.periodestage.datefin}}</a>
                    </td>
                    <td>
                        <span ng-repeat="contact in stage.contacts">
                            <a class="form-control-static" ui-sref="contact-detail({id: contact.id})">{{contact.nom}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="etudiant-detail({id:stage.etudiant.id})">{{stage.etudiant.nom}}&nbsp;{{stage.etudiant.prenom}}</a>
                    </td>
                    <td>
                        <a ui-sref="partenaire-detail({id:stage.partenaire.id})">{{stage.partenaire.nom}}</a>
                    </td>
                    <td>
                        <a ui-sref="enseignant-detail({id:stage.enseignant.id})">{{stage.enseignant.nom}}&nbsp;{{stage.enseignant.prenom}}</a>
                    </td>
                    <td>
                        <a ui-sref="fonction-detail({id:stage.fonction.id})">{{stage.fonction.libelle}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stage-detail({id:stage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stage.edit({id:stage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stage.delete({id:stage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
