
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStageLabel" data-translate="projectTaaGliApp.stage.home.createOrEditLabel">Create or edit a Stage</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.stage.sujet" for="field_sujet">Sujet</label>
            <input type="text" class="form-control" name="sujet" id="field_sujet"
                    ng-model="vm.stage.sujet"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.stage.salaire" for="field_salaire">Salaire</label>
            <input type="number" class="form-control" name="salaire" id="field_salaire"
                    ng-model="vm.stage.salaire"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.stage.sannee" for="field_sannee">Sannee</label>
                <div class="input-group">
                    <input id="field_sannee" type="text" class="form-control" name="sannee" uib-datepicker-popup="{{dateformat}}" datepicker-options="datepickerOptions" ng-model="vm.stage.sannee" is-open="vm.datePickerOpenStatus.sannee"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sannee')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="projectTaaGliApp.stage.diplomeifsic" for="field_diplomeifsic">Diplomeifsic</label>
            <select class="form-control" id="field_diplomeifsic" name="diplomeifsic" ng-model="vm.stage.diplomeifsic" ng-options="dipIfsic as dipIfsic.libelle for dipIfsic in vm.diplomeifsics | orderBy:'id' track by dipIfsic.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.stage.periodestage" for="field_periodestage">Periodestage</label>
            <select class="form-control" id="field_periodestage" name="periodestage" ng-model="vm.stage.periodestage" ng-options="periodeStage as getPeriodeLabel(periodeStage) for periodeStage in vm.periodestages | orderBy:'id' track by periodeStage.id">
                <option value=""></option>
            </select>
        </div>
<!--         getPeriodeLabel(periodeStage) -->

        <div class="form-group">
            <label data-translate="projectTaaGliApp.stage.contact" for="field_contact">Contact</label>
            <select class="form-control" id="field_contact" multiple name="contact" ng-model="vm.stage.contacts" ng-options="contact as contact.nom for contact in vm.contacts track by contact.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.stage.etudiant" for="field_etudiant">Etudiant</label>
            <select class="form-control" id="field_etudiant" name="etudiant" ng-model="vm.stage.etudiant" ng-options="etudiant as etudiant.nom for etudiant in vm.etudiants track by etudiant.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.stage.partenaire" for="field_partenaire">Partenaire</label>
            <select class="form-control" id="field_partenaire" name="partenaire" ng-model="vm.stage.partenaire" ng-options="partenaire as partenaire.nom for partenaire in vm.partenaires track by partenaire.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.stage.enseignant" for="field_enseignant">Enseignant</label>
            <select class="form-control" id="field_enseignant" name="enseignant" ng-model="vm.stage.enseignant" ng-options="enseignant as enseignant.nom for enseignant in vm.enseignants track by enseignant.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.stage.fonction" for="field_fonction">Fonction</label>
            <select class="form-control" id="field_fonction" name="fonction" ng-model="vm.stage.fonction" ng-options="fonction as fonction.libelle for fonction in vm.fonctions track by fonction.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
