<div>
    <h2 data-translate="projectTaaGliApp.etudiant.home.title">Etudiants</h2>
    <input ng-model="filtre" type="text" data-provide="typeahead" uib-typeahead="etudiant.prenom for etudiant in vm.etudiants | filter:$viewValue | limitTo:10" autocomplete="off" name="filtred"/>
<!--     | filter:$viewValue pour filtrer uniquement les résultat contenant le texte écrit-->
<!-- | limitTo:10"  pour filtrer les 10 premier -->
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="etudiant.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.etudiant.home.createLabel">
                        Create new Etudiant
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.generateCSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="Num.Sésame">Num.Sésame</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.nom">Nom</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.prenom">Prenom</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.adresse">Adresse</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.ntel">Ntel</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.email">Email</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.assurance">Assurance</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.affiliation">Affiliation</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.datenaissance">Datenaissance</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiant.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="etudiant in vm.filteredStage = (vm.etudiants | filter:filtre) track by etudiant.id">
                    <td><a ui-sref="etudiant-detail({id:etudiant.id})">{{etudiant.sesan}}</a></td>
                    <td>{{etudiant.nom}}</td>
                    <td>{{etudiant.prenom}}</td>
                    <td>{{etudiant.adresse}}</td>
                    <td>{{etudiant.ntel}}</td>
                    <td>{{etudiant.email}}</td>
                    <td>{{etudiant.assurance}}</td>
                    <td>{{etudiant.affiliation}}</td>

                        <td>{{etudiant.datenaissance | date:'mediumDate'}}</td>
                    <td>
                        {{etudiant.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="etudiant-detail({id:etudiant.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="etudiant.edit({id:etudiant.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="etudiant.delete({id:etudiant.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
