
<div>
    <h2><span data-translate="projectTaaGliApp.modeObtention.detail.title">Mode Obtention</span> {{vm.modeObtention.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.modeObtention.obtdescription">Obtdescription</span></dt>
        <dd>
            <span>{{vm.modeObtention.obtdescription}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="mode-obtention-detail.edit({id:vm.modeObtention.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
