
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEtudiantLabel" data-translate="projectTaaGliApp.etudiantRegister.home.createLabel">Create or edit a Etudiant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.etudiant.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.etudiant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiantRegister.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.etudiant.nom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiantRegister.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                    ng-model="vm.etudiant.prenom"
                     />
        </div>
  <div class="form-group">
      <label class="control-label" data-translate="projectTaaGliApp.etudiantRegister.ntel" for="field_ntel">Ntel</label>
      <input type="text" class="form-control" name="ntel" id="field_ntel"
              ng-model="vm.etudiant.ntel"
               />
  </div>
  <div class="form-group">
      <label class="control-label" data-translate="projectTaaGliApp.etudiantRegister.sesan" for="field_sesan">Sesan</label>
      <input type="number" class="form-control" name="sesan" id="field_sesan"
              ng-model="vm.etudiant.sesan"
               />
  </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
