<div>
    <h2 data-translate="projectTaaGliApp.etudiantRegister.home.title">Création des comptes Etudiants</h2>

     <div class="alert alert-warning">
		<p class="lead" data-translate="projectTaaGliApp.etudiantRegister.home.instructions">Le nouveau mot de passe de l'étudiant créer est <b>nom.prénom</b>. Les majuscules sont importantes.</p>
     </div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="etudiantregister.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.etudiantRegister.home.createLabel">
                        Create new Etudiant
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.nom">Nom</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.prenom">Prenom</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.adresse">Adresse</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.ntel">Ntel</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.datenaissance">Datenaissance</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.email">Email</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.assurance">Assurance</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.affiliation">Affiliation</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.sesan">Sesan</span></th>
                    <th><span data-translate="projectTaaGliApp.etudiantRegister.user">User</span></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="etudiant in vm.etudiants track by etudiant.id">
                    <td><a ui-sref="etudiant-detail({id:etudiant.id})">{{etudiant.id}}</a></td>
                    <td>{{etudiant.nom}}</td>
                    <td>{{etudiant.prenom}}</td>
                    <td>{{etudiant.adresse}}</td>
                    <td>{{etudiant.ntel}}</td>
                    <td>{{etudiant.datenaissance | date:'mediumDate'}}</td>
                    <td>{{etudiant.email}}</td>
                    <td>{{etudiant.assurance}}</td>
                    <td>{{etudiant.affiliation}}</td>
                    <td>{{etudiant.sesan}}</td>
                    <td>
                        {{etudiant.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="etudiant-detail({id:etudiant.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="etudiant.edit({id:etudiant.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="etudiant.delete({id:etudiant.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
