<div>
    <h2 data-translate="projectTaaGliApp.stageinfo.title2">Création des comptes Etudiants</h2>

    <div class="alert alert-warning">
        <p class="lead" data-translate="projectTaaGliApp.stageinfo.instructions">Le nouveau mot de passe de l'étudiant créer est <b>nom.prénom</b>. Les majuscules sont importantes.</p>
    </div>
    <jhi-alert></jhi-alert>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.sannee">année</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.sujet">Sujet</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.salaire">Salaire</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.diplomeifsic">Diplomeifsic</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.periodestage">Periodestage</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.contact">Contact</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.etudiant">Etudiant</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.partenaire">Entreprise partenaire</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.enseignant">Enseignant</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.fonction">Fonction</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stage in vm.stages | filter:filtre track by stage.id">
                    <td>{{stage.id}}</td>
                    <td>{{stage.sannee | date:'yyyy'}}</td>
                    <td>{{stage.sujet}}</td>
                    <td>{{stage.salaire}}</td>
                    <td>{{stage.diplomeifsic.libelle}}</td>
                    <td>{{stage.periodestage.datedebut}}-{{stage.periodestage.datefin}}</td>
                    <td>
                        <span ng-repeat="contact in stage.contacts">{{contact.nom}}
                          {{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>{{stage.etudiant.nom}}</td>
                    <td>{{stage.partenaire.nom}}</td>
                    <td>{{stage.enseignant.nom}}</td>
                    <td>{{stage.fonction.libelle}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                          <!-- ui-sref="api/stage/pdf/(stage.id)" -->
                            <button
                                    class="btn btn-info btn-sm" ng-click="vm.downloadPdf(stage.id)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="projectTaaGliApp.stageinfo.pdf"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
