<div>
    <h2 data-translate="projectTaaGliApp.stage.home.title">Stages</h2>
    <p><b>Si vous voulez contacter un partenaire, veuillez cliquer sur le nom du contact/Si vous voulez contacter tous les partenaires d'une année veuillez cliquer sur le bouton "Envoyer un email"</b></p>
    <br/>
      <p><b>Chercher par année du stage les personnes à contacter </b></p>
    <input ng-model="filtre.sannee" name="filtred" type="number" min="1000" max="2016"/>
    <jhi-alert></jhi-alert>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>

                    <th><span data-translate="projectTaaGliApp.stage.sujet">Sujet</span></th>

                    <th><span data-translate="projectTaaGliApp.stage.sannee">année</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.diplomeifsic">Diplomeifsic</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.periodestage">Periodestage</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.contact">Contact</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.etudiant">Etudiant</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.partenaire">Entreprise partenaire</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.enseignant">Enseignant</span></th>
                    <th><span data-translate="projectTaaGliApp.stage.fonction">Fonction</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="stage in vm.stages | filter:filtre track by stage.id">

                    <td>{{stage.sujet}}</td>

                        <td>{{stage.sannee  | date:'yyyy'}}</td>
                    <td>
                      {{stage.diplomeifsic.libelle}}
                    </td>
                    <td>
                      {{stage.periodestage.datedebut}}-{{stage.periodestage.datefin}}
                    </td>
                    <td>
                        <span ng-repeat="contact in stage.contacts">
                            <a class="form-control-static" href="mailto:{{contact.email}}?subject=informations%20sur%20le%20stage">{{contact.nom}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        {{stage.etudiant.nom}}
                    </td>
                    <td>
                      {{stage.partenaire.nom}}
                    </td>
                    <td>
                        {{stage.enseignant.nom}}
                    </td>
                    <td>
                      {{stage.fonction.libelle}}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary" ui-sref="sendmail" >
            <span class="glyphicon glyphicon-plus"></span>
            <span  data-translate="Envoyer un email">
              Envoyer un email
            </span>
        </button>
    </div>
</div>
