<div>
    <h2 data-translate="Contacter les entreprises">CDE</h2>
   <p>choisir l'(les) mail(s) à contacter:</p>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <form>
<select name="contacts" ng-model="selectedcontacts" multiple>
 <option  ng-repeat="contact in vm.contacts | filter:year">{{contact.email}}</option>

</select>

<p>Entrer une année pour la recherche des contacts des partenaires qui ont accueilli des étudiants en cette année:</p>
 <input  ng-model="year" type="number" min="1800" max="2016"/>
  <button ng-click="send()" > Envoyer l'email</button>
</form>

<p>cliquer sur Ctrl (windows) / Command (Mac) pour selectionner plusieurs contacts.</p>
    </div>
    </div>
