<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEtudiantLabel" data-translate="projectTaaGliApp.etudiant.home.createOrEditLabel">Create or edit a Etudiant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.etudiant.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.etudiant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom" ng-model="vm.etudiant.nom" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom" ng-model="vm.etudiant.prenom" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse" ng-model="vm.etudiant.adresse" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.ntel" for="field_ntel">Ntel</label>
            <input type="text" class="form-control" name="ntel" id="field_ntel" ng-model="vm.etudiant.ntel" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.datenaissance" for="field_datenaissance">Datenaissance</label>
            <div class="input-group">
                <input id="field_datenaissance" type="text" class="form-control" name="datenaissance" uib-datepicker-popup="{{dateformat}}" ng-model="vm.etudiant.datenaissance" is-open="vm.datePickerOpenStatus.datenaissance" />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datenaissance')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.email" for="field_email">Email</label>
            <input type="email" class="form-control" name="email" id="field_email" ng-model="vm.etudiant.email" ng-minlength=5 ng-maxlength=100 />
            <!--                      <p>status {{editForm.email.$valid}}</p> -->
            <div ng-show="editForm.email.$dirty && editForm.email.$invalid">
                <p class="help-block" ng-show="editForm.email.$error.required" data-translate="global.messages.validate.email.required">
                    Your e-mail is required.
                </p>
                <p class="help-block" ng-show="editForm.email.$error.email" data-translate="global.messages.validate.email.invalid">
                    Your e-mail is invalid.
                </p>
                <p class="help-block" ng-show="editForm.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                    Your e-mail is required to be at least 5 characters.
                </p>
                <p class="help-block" ng-show="editForm.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                    Your e-mail cannot be longer than 100 characters.
                </p>
            </div>
        <!-- </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.assurance" for="field_assurance">Assurance</label>
            <input type="text" class="form-control" name="assurance" id="field_assurance" ng-model="vm.etudiant.assurance" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.affiliation" for="field_affiliation">Affiliation</label>
            <input type="text" class="form-control" name="affiliation" id="field_affiliation" ng-model="vm.etudiant.affiliation" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.etudiant.sesan" for="field_sesan">Sesan</label>
            <input type="number" class="form-control" name="sesan" id="field_sesan" ng-model="vm.etudiant.sesan" />
        </div>

        <div class="form-group">
            <label data-translate="projectTaaGliApp.etudiant.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.etudiant.user" ng-options="user as user.id for user in vm.users track by user.id">
                  <option value=""></option>
            </select>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
