<div>
    <h2 data-translate="projectTaaGliApp.etudiantinfo.title2">Création des comptes Etudiants</h2>

    <div class="alert alert-warning">
        <p class="lead" data-translate="projectTaaGliApp.etudiantinfo.instructions">Le nouveau mot de passe de l'étudiant créer est <b>nom.prénom</b>. Les majuscules sont importantes.</p>
    </div>
    <jhi-alert></jhi-alert>

    <div>
        <jhi-alert-error></jhi-alert-error>
        <dl class="dl-horizontal jh-entity-details">
            <dt><span data-translate="projectTaaGliApp.etudiant.nom">Nom</span></dt>
            <dd>
                <span>{{vm.etudiant.nom}}</span>
            </dd>
            <dt><span data-translate="projectTaaGliApp.etudiant.prenom">Prenom</span></dt>
            <dd>
                <span>{{vm.etudiant.prenom}}</span>
            </dd>
            <dt><span data-translate="projectTaaGliApp.etudiant.adresse">Adresse</span></dt>
            <dd>
                <span>{{vm.etudiant.adresse}}</span>
            </dd>
            <dt><span data-translate="projectTaaGliApp.etudiant.ntel">Ntel</span></dt>
            <dd>
                <span>{{vm.etudiant.ntel}}</span>
            </dd>
            <dt><span data-translate="projectTaaGliApp.etudiant.datenaissance">Datenaissance</span></dt>
            <dd>
                <span>{{vm.etudiant.datenaissance | date:'mediumDate'}}</span>
            </dd>
            <dt><span data-translate="projectTaaGliApp.etudiant.email">Email</span></dt>
            <dd>
                <span>{{vm.etudiant.email}}</span>
            </dd>
            <dt><span data-translate="projectTaaGliApp.etudiant.assurance">Assurance</span></dt>
            <dd>
                <span>{{vm.etudiant.assurance}}</span>
            </dd>
            <dt><span data-translate="projectTaaGliApp.etudiant.affiliation">Affiliation</span></dt>
            <dd>
                <span>{{vm.etudiant.affiliation}}</span>
            </dd>
            <dt><span data-translate="projectTaaGliApp.etudiant.sesan">Sesan</span></dt>
            <dd>
                <span>{{vm.etudiant.sesan}}</span>
            </dd>
            <!-- <dt><span data-translate="projectTaaGliApp.etudiant.user">User</span></dt>
            <dd>
                {{vm.etudiant.user.id}}
            </dd> -->
        </dl>

        <button type="button" ui-sref="etudiantinfo.edit({id:vm.etudiant.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
        </button>
    </div>

</div>
