<div>
    <h2 data-translate="projectTaaGliApp.enquetes.CreateLabel">Création des comptes Etudiants</h2>

    <div class="alert alert-warning">
        <p class="lead" data-translate="projectTaaGliApp.enquetes.instructions"/>
    </div>
    <jhi-alert></jhi-alert>
    <form name="editForm" role="form" novalidate>

        <div>
            <div class="input-group">

                <div ng-hide="!vm.datePickerOpenStatus.annee" class="ng-hide">
                    <input id="field_annee" type="text" class="form-control" name="annee" uib-datepicker-popup="{{dateformat}}" datepicker-options="datepickerOptions" ng-model="vm.filtreannee" is-open="vm.datePickerOpenStatus.annee" />
                </div>
                <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openCalendar('annee')"><i class="glyphicon glyphicon-calendar"></i></button>

          </span>
                Année du stage des étudiants à contacter : {{vm.filtreannee | date:'yyyy'}}
            </div>

            <div class="container-fluid">
                <!-- <div class="row"> -->
                <div class="form-group">
                    <label data-translate="projectTaaGliApp.enquetes.modeObtention" for="field_modeObtention">Mode Obtention</label>
                    <select class="form-control" id="field_modeObtention" name="modeobtention" ng-model="vm.filtremodeObtention" ng-options="modeObtention as modeObtention.obtdescription for modeObtention in vm.modeObtentions track by modeObtention.id" required>
                      <option value=""></option>
                    </select>
                    <div class="col-xs-4 no-padding-left">
                        <button class="btn btn-primary" ui-sref="enquetes-mode">
                          <span class="glyphicon glyphicon-plus"></span>
                          <span  data-translate="projectTaaGliApp.modeObtention.home.createLabel">
                              Create new Mode Obtention
                          </span>
                      </button>
                    </div>
                </div>

                <!-- </div> -->
            </div>
            <div class="form-group">
                {{vm.nbetudiantannee}} <label data-translate="projectTaaGliApp.enquetes.etudiantCon" for="field_etudiant"> Etudiants en </label> {{vm.filtreannee | date:'yyyy'}}
                <select ng-readonly=true class="form-control" id="field_etudiant" multiple name="etudiant" ng-model="vm.enquete.etudiants" ng-options="etudiant as etudiant.nom for etudiant in vm.etudiantannee track by etudiant.id"></select>
            </div>
            Questions : ({{vm.questionR}})<br><textarea rows="4" cols="50" ng-model="vm.question" type="text" name="question" required />
            <br>
            <!-- {{vm.question}} -->
            <br><br>
            <button type="button" ng-disabled="editForm.$invalid || (vm.etudiantannee == 0) || (vm.questionR < 0) || vm.isSaving" ng-click='vm.doTheMagic()' class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm" data-translate="projectTaaGliApp.enquete.home.createLabel"> Edit</span>
        </button>
        </div>
    </form>
</div>
