
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTexteEnqueteLabel" data-translate="projectTaaGliApp.texteEnquete.home.createOrEditLabel">Create or edit a Texte Enquete</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <span data-translate="projectTaaGliApp.texteEnquete.home.title"/> N°{{vm.texteEnquete.id}}   <span data-translate="projectTaaGliApp.texteEnquete.enquete"/> N°{{vm.texteEnquete.enquete.id}}

        <br><div class="form-group">
          <dl>
              <div><span data-translate="projectTaaGliApp.etudiant.nom">Nom</span>

                  <span> : {{vm.texteEnquete.etudiant.nom}}</span>
              </div>
              <div><span data-translate="projectTaaGliApp.etudiant.prenom">Prenom</span>

                  <span> : {{vm.texteEnquete.etudiant.prenom}}</span>
              </div>
              <div><span data-translate="projectTaaGliApp.etudiant.adresse">Adresse</span>

                  <span> : {{vm.texteEnquete.etudiant.adresse}}</span>
              </div>
              <div><span data-translate="projectTaaGliApp.etudiant.ntel">Ntel</span>

                  <span> : {{vm.texteEnquete.etudiant.ntel}}</span>
              </div>
              <div><span data-translate="projectTaaGliApp.etudiant.email">Email</span>

                  <span> : {{vm.texteEnquete.etudiant.email}}</span>
              </div>
              <div><span data-translate="projectTaaGliApp.etudiant.assurance">Assurance</span>

                  <span> : {{vm.texteEnquete.etudiant.assurance}}</span>
              </div>
              <div><span data-translate="projectTaaGliApp.etudiant.affiliation">Affiliation</span>

                  <span> : {{vm.texteEnquete.etudiant.affiliation}}</span>
              </div>
              <div><span data-translate="projectTaaGliApp.etudiant.sesan">Sesan</span>

                  <span> : {{vm.texteEnquete.etudiant.sesan}}</span>
              </div>
              <div><span data-translate="projectTaaGliApp.etudiant.datenaissance">Datenaissance</span>

                  <span> : {{vm.texteEnquete.etudiant.datenaissance | date:'mediumDate'}}</span>
              </div>
          </dl>
        </div>
        <button type="submit"
                ui-sref="etudiant.edit({id:vm.texteEnquete.etudiant.id})"
                class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
        </button>

        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.texteEnquete.dureerecherche" for="field_dureerecherche">Dureerecherche</label>
            <input type="number" class="form-control" name="dureerecherche" id="field_dureerecherche"
                    ng-model="vm.texteEnquete.dureerecherche"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.texteEnquete.salaire" for="field_salaire">Salaire</label>
            <input type="number" class="form-control" name="salaire" id="field_salaire"
                    ng-model="vm.texteEnquete.salaire"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.texteEnquete.question" for="field_question">Question</label> ({{vm.questionR}})
            <textarea rows="4" cols="50"  type="text" class="form-control" name="question" id="field_question"
                    ng-model="vm.texteEnquete.question"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.texteEnquete.reponse" for="field_reponse">Reponse</label> ({{vm.reponseR}})
            <textarea rows="4" cols="50"  type="text" class="form-control" name="reponse" id="field_reponse"
                    ng-model="vm.texteEnquete.reponse"
                     />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid|| (vm.questionR < 0) || (vm.reponseR < 0) || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
