<div>
    <h2 data-translate="projectTaaGliApp.enquetes.home.title1">Enquetes Etudiants</h2>

    <div class="alert alert-warning">
        <p class="lead" data-translate="projectTaaGliApp.enquetes.enquetes1">Module Enquete : blabla</p>
        <p class="lead" data-translate="projectTaaGliApp.enquetes.enquetes2">blabla</p>
    </div>
    <jhi-alert></jhi-alert>
    <div class="form-group">
        <label data-translate="projectTaaGliApp.enquetes.modeObtention" for="field_modeObtention">Mode Obtention</label>
        <select class="form-control" id="field_modeObtention" name="modeobtention" ng-model="vm.filtremodeObtention" ng-options="modeObtention as modeObtention.obtdescription for modeObtention in vm.modeObtentions track by modeObtention.id">
            <option value=""></option>
        </select>
    </div>

    <div class="container-fluid">
        <label data-translate="projectTaaGliApp.enquetes.filtre" for="field_filtre">filtre</label>
        <input id="field_filtre" ng-model="vm.filtre" type="text" name="filtred" />
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="enquetes-new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.enquetes.CreateLabel">
                        Create new Enquete
                    </span>

                </button>
                <button class="btn btn-info" ng-click='vm.loadAll()'>Reload</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <!-- <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="projectTaaGliApp.enquete.etudiant">Etudiant</span></th>
                    <th><span data-translate="projectTaaGliApp.enquete.modeobtention">Mode d'obtention</span></th>
                    <th><span data-translate="projectTaaGliApp.enquete.texteenquete">Texte enquete</span></th>
                    <th></th>
                </tr>
            </thead>
        </table> -->
        <table class="jh-table table table-striped">
            <tbody>
                <tr ng-repeat="enquete in vm.enqquetes | filter:{modeobtention:vm.filtremodeObtention} | filter:vm.filtre  track by enquete.id">
                  <!-- | filter:{modeobtention.id:vm.filtremodeObtention.id}  -->
                    <td>
                        <span data-translate="global.field.id">ID</span> : <a ui-sref="enquete-detail({id:enquete.id})">{{enquete.id}}</a><br>
                        <span data-translate="projectTaaGliApp.enquete.modeobtention">Mode d'obtention</span> : <a ui-sref="mode-obtention-detail({id:enquete.modeobtention.id})">{{enquete.modeobtention.obtdescription}}</a><br>
                        <span data-translate="projectTaaGliApp.enquete.etudiant">Etudiant</span>
                        <span ng-repeat="etudiant in enquete.etudiants">
                            <a class="form-control-static" ui-sref="etudiant-detail({id: etudiant.id})">{{etudiant.nom}}</a>{{$last ? '' : ', '}}
                        </span>
                        <!-- <a ui-sref="texte-enquete-detail({id:enquete.texteenquete.id})">{{enquete.texteenquete.id}}</a> -->

                        <p class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" ui-sref="enquete-detail({id:enquete.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                                <button type="submit" ui-sref="enquete.edit({id:enquete.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                                <button type="submit" ui-sref="enquete.delete({id:enquete.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                            </div>
                        </p>
                    </td>
                    <td>
                        <table class="jh-table table table-striped">
                            <thead>
                                <tr>
                                    <th><span data-translate="global.field.id">ID</span></th>
                                    <th><span data-translate="projectTaaGliApp.texteEnquete.reponse">Reponse</span></th>
                                    <th><span data-translate="projectTaaGliApp.texteEnquete.question">Question</span></th>
                                    <th><span data-translate="projectTaaGliApp.texteEnquete.dureerecherche">Dureerecherche</span></th>
                                    <th><span data-translate="projectTaaGliApp.texteEnquete.salaire">Salaire</span></th>
                                    <th><span data-translate="projectTaaGliApp.texteEnquete.etudiant">Etudiant</span></th>
                                    <th><span data-translate="projectTaaGliApp.texteEnquete.enquete">Enquete</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="texteEnquete in enquete.texteEnquetes | filter:vm.filtre track by texteEnquete.id">
                                    <td><a ui-sref="texte-enquete-detail({id:texteEnquete.id})">{{texteEnquete.id}}</a></td>
                                    <td>{{texteEnquete.reponse}}</td>
                                    <td>{{texteEnquete.question}}</td>
                                    <td>{{texteEnquete.dureerecherche}}</td>
                                    <td>{{texteEnquete.salaire}}</td>
                                    <td>
                                        <a ui-sref="etudiant-detail({id:texteEnquete.etudiant.id})">{{texteEnquete.etudiant.nom}}</a>
                                    </td>
                                    <td>
                                        <a ui-sref="enquete-detail({id:texteEnquete.enquete.id})">{{texteEnquete.enquete.id}}</a>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit" ui-sref="enquetes-reponse({id:texteEnquete.id})" class="btn btn-primary btn-sm">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                    <span class="hidden-xs hidden-sm" data-translate="projectTaaGliApp.enquetes.repondre"></span>
                                                </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>
    </div>

</div>
