<div>
    <h2 data-translate="projectTaaGliApp.filiere.home.title">Filieres</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="filiere.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.filiere.home.createLabel">
                        Create new Filiere
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.generateCSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>

                    <th><span data-translate="projectTaaGliApp.filiere.libelle">Libelle</span></th>
                    <th><span data-translate="projectTaaGliApp.filiere.enseignant">Enseignant</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="filiere in vm.filteredStage = (vm.filieres | filter:filtre) track by filiere.id">
                
                    <td><a ui-sref="filiere-detail({id:filiere.id})">{{filiere.libelle}}</a></td>
                    <td>
                        <span ng-repeat="enseignant in filiere.enseignants">
                            <a class="form-control-static" ui-sref="enseignant-detail({id: enseignant.id})">{{enseignant.nom}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="filiere-detail({id:filiere.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="filiere.edit({id:filiere.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="filiere.delete({id:filiere.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
