
<div>
    <h2><span data-translate="projectTaaGliApp.filiere.detail.title">Filiere</span> {{vm.filiere.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.filiere.libelle">Libelle</span></dt>
        <dd>
            <span>{{vm.filiere.libelle}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.filiere.enseignant">Enseignant</span></dt>
        <dd>
            <span ng-repeat="enseignant in vm.filiere.enseignants">
                <a ui-sref="enseignant-detail({id: enseignant.id})">{{enseignant.nom}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="filiere-detail.edit({id:vm.filiere.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
