
<div>
    <h2><span data-translate="projectTaaGliApp.enquete.detail.title">Enquete</span> {{vm.enquete.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.enquete.etudiant">Etudiant</span></dt>
        <dd>
            <span ng-repeat="etudiant in vm.enquete.etudiants">
                <a ui-sref="etudiant-detail({id: etudiant.id})">{{etudiant.nom}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.enquete.modeobtention">Modeobtention</span></dt>
        <dd>
            <a ui-sref="mode-obtention-detail({id:vm.enquete.modeobtention.id})">{{vm.enquete.modeobtention.obtdescription}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="enquete-detail.edit({id:vm.enquete.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
