<div>
    <h2 data-translate="projectTaaGliApp.enquete.home.title">Enquetes</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="enquete.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.enquete.home.createLabel">
                        Create new Enquete
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.generateCSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="projectTaaGliApp.enquete.etudiant">Etudiant</span></th>
                    <th><span data-translate="projectTaaGliApp.enquete.modeobtention">Mode d'obtention</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="enquete in vm.filteredStage = (vm.enquetes | filter:filtre) track by enquete.id">

                    <td>
                        <span ng-repeat="etudiant in enquete.etudiants">
                            <a class="form-control-static" ui-sref="etudiant-detail({id: etudiant.id})">{{etudiant.nom}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="mode-obtention-detail({id:enquete.modeobtention.id})">{{enquete.modeobtention.obtdescription}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="enquete-detail({id:enquete.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enquete.edit({id:enquete.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enquete.delete({id:enquete.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
