
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEnqueteLabel" data-translate="projectTaaGliApp.enquete.home.createOrEditLabel">Create or edit a Enquete</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.enquete.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.enquete.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="projectTaaGliApp.enquete.etudiant" for="field_etudiant">Etudiant</label>
            <select class="form-control" id="field_etudiant" multiple name="etudiant" ng-model="vm.enquete.etudiants" ng-options="etudiant as etudiant.nom for etudiant in vm.etudiants track by etudiant.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.enquete.modeobtention" for="field_modeobtention">Modeobtention</label>
            <select class="form-control" id="field_modeobtention" name="modeobtention" ng-model="vm.enquete.modeobtention" ng-options="modeObtention as modeObtention.obtdescription for modeObtention in vm.modeobtentions track by modeObtention.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
