
<div>
    <h2><span data-translate="projectTaaGliApp.periodeStage.detail.title">Periode Stage</span> {{vm.periodeStage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.periodeStage.datedebut">Datedebut</span></dt>
        <dd>
            <span>{{vm.periodeStage.datedebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.periodeStage.datefin">Datefin</span></dt>
        <dd>
            <span>{{vm.periodeStage.datefin | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="periode-stage-detail.edit({id:vm.periodeStage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
