<div>
    <h2 data-translate="projectTaaGliApp.periodeStage.home.title">Periode Stages</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="periode-stage.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.periodeStage.home.createLabel">
                        Create new Periode Stage
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.generateCSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>

                    <th><span data-translate="projectTaaGliApp.periodeStage.datedebut">Datedebut</span></th>
                    <th><span data-translate="projectTaaGliApp.periodeStage.datefin">Datefin</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="periodeStage in vm.filteredStage = (vm.periodeStages | filter:filtre) track by periodeStage.id">
                        <td>{{periodeStage.datedebut | date:'mediumDate'}}</td>
                        <td>{{periodeStage.datefin | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="periode-stage-detail({id:periodeStage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="periode-stage.edit({id:periodeStage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="periode-stage.delete({id:periodeStage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
