<div>
    <h2 data-translate="projectTaaGliApp.partenaire.home.title">Partenaires</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="partenaire.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.partenaire.home.createLabel">
                        Create new Partenaire
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.generateCSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="Numéro Siret">Numéro Siret</span></th>
                    <th><span data-translate="projectTaaGliApp.partenaire.nom">Nom</span></th>
                    <th><span data-translate="projectTaaGliApp.partenaire.adresse">Adresse</span></th>
                    <th><span data-translate="projectTaaGliApp.partenaire.datecreation">Datecreation</span></th>
                    <th><span data-translate="projectTaaGliApp.partenaire.antivite">Antivite</span></th>
                    <th><span data-translate="projectTaaGliApp.partenaire.region">Region</span></th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="partenaire in vm.filteredStage = (vm.partenaires | filter:filtre) track by partenaire.id">
                    <td><a ui-sref="partenaire-detail({id:partenaire.id})">{{partenaire.siret}}</a></td>
                    <td>{{partenaire.nom}}</td>
                    <td>{{partenaire.adresse}}</td>

                      <td>{{partenaire.datecreation | date:'mediumDate'}}</td>
                    <td>
                        <span ng-repeat="antivite in partenaire.antivites">
                            <a class="form-control-static" ui-sref="activite-detail({id: antivite.id})">{{antivite.description}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="region-detail({id:partenaire.region.id})">{{partenaire.region.rlebelle}}</a>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="partenaire-detail({id:partenaire.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partenaire.edit({id:partenaire.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partenaire.delete({id:partenaire.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
