
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPartenaireLabel" data-translate="projectTaaGliApp.partenaire.home.createOrEditLabel">Create or edit a Partenaire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.partenaire.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.partenaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.partenaire.siret" for="field_siret">Siret</label>
            <input type="number" class="form-control" name="siret" id="field_siret"
                    ng-model="vm.partenaire.siret"
                     />
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.partenaire.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.partenaire.nom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.partenaire.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                    ng-model="vm.partenaire.adresse"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.partenaire.datecreation" for="field_datecreation">Datecreation</label>
                <div class="input-group">
                    <input id="field_datecreation" type="text" class="form-control" name="datecreation" uib-datepicker-popup="{{dateformat}}" ng-model="vm.partenaire.datecreation" is-open="vm.datePickerOpenStatus.datecreation"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datecreation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>


        <div class="form-group">
            <label data-translate="projectTaaGliApp.partenaire.antivite" for="field_antivite">Antivite</label>
            <select class="form-control" id="field_antivite" multiple name="antivite" ng-model="vm.partenaire.antivites" ng-options="activite as activite.description for activite in vm.activites track by activite.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.partenaire.region" for="field_region">Region</label>
            <select class="form-control" id="field_region" name="region" ng-model="vm.partenaire.region" ng-options="region as region.rlebelle for region in vm.regions track by region.id">
                <option value=""></option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
