
<div>
    <h2><span data-translate="projectTaaGliApp.partenaire.detail.title">Partenaire</span> {{vm.partenaire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.partenaire.nom">Nom</span></dt>
        <dd>
            <span>{{vm.partenaire.nom}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.partenaire.adresse">Adresse</span></dt>
        <dd>
            <span>{{vm.partenaire.adresse}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.partenaire.siret">Siret</span></dt>
        <dd>
            <span>{{vm.partenaire.siret}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.partenaire.datecreation">Datecreation</span></dt>
        <dd>
            <span>{{vm.partenaire.datecreation | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.partenaire.antivite">Antivite</span></dt>
        <dd>
            <span ng-repeat="antivite in vm.partenaire.antivites">
                <a ui-sref="activite-detail({id: antivite.id})">{{antivite.description}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.partenaire.region">Region</span></dt>
        <dd>
            <a ui-sref="region-detail({id:vm.partenaire.region.id})">{{vm.partenaire.region.rlebelle}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="partenaire-detail.edit({id:vm.partenaire.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
