<div>
    <h2 data-translate="Filtre Donnees">FiltreDonnees</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span >ID</span></th>
                    <th><span >Nom</span></th>
    
                    <th><span >Prenom</span></th>
                    <th><span >Age</span></th>
                    <th><span >Adresse</span></th>
                    <th><span >Ntel</span></th>
                    <th><span >Datenaissance</span></th>
                    <th><span >Fonction</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="etudiant in vm.etudiants | filter:filtre track by etudiant.id" >
                    <td><a ui-sref="etudiant-detail({id:etudiant.id})">{{etudiant.id}}</a></td>
                    <td>{{etudiant.nom}}</td>
                    <td>{{etudiant.prenom}}</td>
                    <td>{{etudiant.age}}</td>
                    <td>{{etudiant.adresse}}</td>
                    <td>{{etudiant.ntel}}</td>
                    <td>{{etudiant.datenaissance | date:'medium'}}</td>
                    <td>
                        <a ui-sref="fonction-detail({id:etudiant.fonction.id})">{{etudiant.fonction.libelle}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>