
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTexteEnqueteLabel" data-translate="projectTaaGliApp.texteEnquete.home.createOrEditLabel">Create or edit a Texte Enquete</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.texteEnquete.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.texteEnquete.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.texteEnquete.reponse" for="field_reponse">Reponse</label>
            <input type="text" class="form-control" name="reponse" id="field_reponse"
                    ng-model="vm.texteEnquete.reponse"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.texteEnquete.question" for="field_question">Question</label>
            <input type="text" class="form-control" name="question" id="field_question"
                    ng-model="vm.texteEnquete.question"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.texteEnquete.dureerecherche" for="field_dureerecherche">Dureerecherche</label>
            <input type="number" class="form-control" name="dureerecherche" id="field_dureerecherche"
                    ng-model="vm.texteEnquete.dureerecherche"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.texteEnquete.salaire" for="field_salaire">Salaire</label>
            <input type="number" class="form-control" name="salaire" id="field_salaire"
                    ng-model="vm.texteEnquete.salaire"
                     />
        </div>

        <div class="form-group">
            <label data-translate="projectTaaGliApp.texteEnquete.etudiant" for="field_etudiant">Etudiant</label>
            <select class="form-control" id="field_etudiant" name="etudiant" ng-model="vm.texteEnquete.etudiant" ng-options="etudiant as etudiant.nom for etudiant in vm.etudiants | orderBy:'id' track by etudiant.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="projectTaaGliApp.texteEnquete.enquete" for="field_enquete">Enquete</label>
            <select class="form-control" id="field_enquete" name="enquete" ng-model="vm.texteEnquete.enquete" ng-options="enquete as enquete.id for enquete in vm.enquetes track by enquete.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
