
<div>
    <h2><span data-translate="projectTaaGliApp.texteEnquete.detail.title">Texte Enquete</span> {{vm.texteEnquete.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.texteEnquete.reponse">Reponse</span></dt>
        <dd>
            <span>{{vm.texteEnquete.reponse}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.texteEnquete.question">Question</span></dt>
        <dd>
            <span>{{vm.texteEnquete.question}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.texteEnquete.dureerecherche">Dureerecherche</span></dt>
        <dd>
            <span>{{vm.texteEnquete.dureerecherche}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.texteEnquete.salaire">Salaire</span></dt>
        <dd>
            <span>{{vm.texteEnquete.salaire}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.texteEnquete.etudiant">Etudiant</span></dt>
        <dd>
            <a ui-sref="etudiant-detail({id:vm.texteEnquete.etudiant.id})">{{vm.texteEnquete.etudiant.nom}}</a>
        </dd>
        <dt><span data-translate="projectTaaGliApp.texteEnquete.enquete">Enquete</span></dt>
        <dd>
            <a ui-sref="enquete-detail({id:vm.texteEnquete.enquete.id})">{{vm.texteEnquete.enquete.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="texte-enquete-detail.edit({id:vm.texteEnquete.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
