<div>
    <h2 data-translate="projectTaaGliApp.texteEnquete.home.title">Texte Enquetes</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="texte-enquete.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.texteEnquete.home.createLabel">
                        Create new Texte Enquete
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.generateCSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>

                    <th><span data-translate="projectTaaGliApp.texteEnquete.reponse">Reponse</span></th>
                    <th><span data-translate="projectTaaGliApp.texteEnquete.question">Question</span></th>
                    <th><span data-translate="projectTaaGliApp.texteEnquete.dureerecherche">Dureerecherche</span></th>
                    <th><span data-translate="projectTaaGliApp.texteEnquete.salaire">Salaire</span></th>
                    <th><span data-translate="projectTaaGliApp.texteEnquete.etudiant">Etudiant</span></th>
                    <th><span data-translate="projectTaaGliApp.texteEnquete.enquete">Enquete</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="texteEnquete in vm.filteredStage = (vm.texteEnquetes | filter:filtre) track by texteEnquete.id">
                    <td><a ui-sref="texte-enquete-detail({id:texteEnquete.id})">{{texteEnquete.reponse}}</a></td>
                    <td>{{texteEnquete.question}}</td>
                    <td>{{texteEnquete.dureerecherche}}</td>
                    <td>{{texteEnquete.salaire}}</td>
                    <td>
                        <a ui-sref="etudiant-detail({id:texteEnquete.etudiant.id})">{{texteEnquete.etudiant.nom}}</a>
                    </td>
                    <td>
                        <a ui-sref="enquete-detail({id:texteEnquete.enquete.id})">{{texteEnquete.enquete.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="texte-enquete-detail({id:texteEnquete.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="texte-enquete.edit({id:texteEnquete.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="texte-enquete.delete({id:texteEnquete.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
