
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContactLabel" data-translate="projectTaaGliApp.contact.home.createOrEditLabel">Create or edit a Contact</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contact.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contact.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.contact.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.contact.nom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.contact.ntel" for="field_ntel">N.tel</label>
            <input type="number" class="form-control" name="ntel" id="field_ntel"
                    ng-model="vm.contact.ntel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.contact.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
            <input type="email" class="form-control" name="email" id="field_email"
                    ng-model="vm.contact.email"
                     />
                     <div ng-show="editForm.email.$dirty && editForm.email.$invalid">
                        <p class="help-block"
                               ng-show="editForm.email.$error.required" data-translate="global.messages.validate.email.required" style="Color:red;">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               ng-show="editForm.email.$error.email" data-translate="global.messages.validate.email.invalid" style="Color:red;">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="editForm.email.$error.minlength" data-translate="global.messages.validate.email.minlength" style="Color:red;">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="editForm.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength" style="Color:red;">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectTaaGliApp.contact.sex" for="field_sex">Sex</label>
            <input type="text" class="form-control" name="sex" id="field_sex"
                    ng-model="vm.contact.sex"
                     />
        </div>

        <div class="form-group">
            <label data-translate="projectTaaGliApp.contact.partenaire" for="field_partenaire">Partenaire</label>
            <select class="form-control" id="field_partenaire" multiple name="partenaire" ng-model="vm.contact.partenaires" ng-options="partenaire as partenaire.nom for partenaire in vm.partenaires track by partenaire.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
