
<div>
    <h2><span data-translate="projectTaaGliApp.contact.detail.title">Contact</span> {{vm.contact.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="projectTaaGliApp.contact.nom">Nom</span></dt>
        <dd>
            <span>{{vm.contact.nom}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.contact.ntel">N.tel</span></dt>
        <dd>
            <span>{{vm.contact.ntel}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.contact.email">Email</span></dt>
        <dd>
            <span>{{vm.contact.email}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.contact.sex">Sex</span></dt>
        <dd>
            <span>{{vm.contact.sex}}</span>
        </dd>
        <dt><span data-translate="projectTaaGliApp.contact.partenaire">Partenaire</span></dt>
        <dd>
            <span ng-repeat="partenaire in vm.contact.partenaires">
                <a ui-sref="partenaire-detail({id: partenaire.id})">{{partenaire.nom}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="contact-detail.edit({id:vm.contact.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
