<div>
    <h2 data-translate="projectTaaGliApp.contact.home.title">Contacts</h2>
    <input ng-model="filtre" type="text" name="filtred"/>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="contact.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectTaaGliApp.contact.home.createLabel">
                        Create new Contact
                    </span>
                </button>
            </div>
            <button type="submit" ng-click="vm.generateCSV()"
                    class="btn btn-info btn-sm">
                <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                <span class="hidden-xs hidden-sm" data-translate="global.menu.csv">Export current filtered result to Csv (UTF-8, comma separator)</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>


                    <th><span data-translate="projectTaaGliApp.contact.nom">Nom</span></th>
                    <th><span data-translate="projectTaaGliApp.contact.ntel">Ntel</span></th>
                    <th><span data-translate="projectTaaGliApp.contact.email">Email</span></th>
                    <th><span data-translate="projectTaaGliApp.contact.sex">Sex</span></th>
                    <th><span data-translate="Partenaire">Partenaire</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in vm.filteredStage = (vm.contacts | filter:filtre) track by contact.id">
                  

                    <td><a ui-sref="contact-detail({id:contact.id})">{{contact.nom}}</a></td>
                    <td>{{contact.ntel}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.sex}}</td>
                    <td>
                        <span ng-repeat="partenaire in contact.partenaires">
                            <a class="form-control-static" ui-sref="partenaire-detail({id: partenaire.id})">{{partenaire.nom}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contact-detail({id:contact.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contact.edit({id:contact.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contact.delete({id:contact.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
